<div class="container">

	<div class="row">
		 <div class="col-12">
			<h2>Seller Home</h2>
		</div>
	</div>
   
     <div class="row">
     	 <div class="col-12">
			<span>Welcome {{ user.name }}</span>  

      <br/><span><a href="#" (click)="logout(); false">Logout</a></span>

		</div>
     </div>
 
</div>

<div class="padding-top-30"></div>

<div class="container">
  <div class="row">
    <div class="col-6">
     	<span><a class= "row" href="/add-item?id={{id}}"> Add new Item</a></span>
    </div>
    <div class="col-6">
       <a class= "row" href="/view-item?id={{id}}"> Manage Items</a>
    </div>
    
  </div>
  <div class="row">
    <div class="col-6">
      <a class= "row" href="/orders?id={{id}}&type={{type}}"> Orders</a>
    </div>
    <div class="col-6">
      <a class= "row" > Average Rating (Coming soon..)</a>
    </div>
    
  </div>
</div>