<div class="container">

	<div class="row">
		 <div class="col-12">
			<h2>Buyer Home</h2>
		</div>
	</div>
   
     <div class="row">
     	 <div class="col-12">
			<span>Welcome {{ user.name }}</span>  

      <br/><span><a href="#" (click)="logout(); false">Logout</a></span>

		</div>
     </div>
 
</div>

<div class="padding-top-30"></div>

<div class="container">
  <div class="row">
    <div class="col-6">
     	<span><a class= "row" href="/buy-item"> Buy Something</a></span>
    </div>
    <div class="col-6">
       <a class= "row" href="/view-item">View Orders</a>
    </div>
    
  </div>
</div>
