<div class="container">


      <form class="form-signin" [formGroup]="form" (ngSubmit)="addItem()" id="addItemForm">
       
        <h2 class="form-signin-heading">Add New Item</h2>

        <div  class=""><h4><a href="seller-home?id={{id}}&type=SELLER">Home</a></h4></div>


        <label for="id" class="">Item</label>
        <select name="id" id="id" class="form-control" formControlName="id" [(ngModel)]="itemId" (change)="changeItem(itemId)">
             <option *ngFor="let item of items" [value]="item.id">  
                {{item.name}}
            </option>
        </select>

        <label for="category" class="">Category</label>
          <select name="category" id="category" class="form-control" formControlName="category" [(ngModel)]="category" disabled>
             <option *ngFor="let category of categories" [value]="category">  
                {{category}}
            </option>
        </select>

        <label for="imgUrl" class="sr-only padding-10">Image</label>
        <input type="text"  formControlName="imgUrl" id="imgUrl" class="form-control" placeholder="Add image URL" value="{{item.imgUrl}}">

        <label for="shortDesc" class="sr-only padding-10">Short Description</label>
        <input type="textarea"  formControlName="shortDesc" id="shortDesc" name="shortDesc" class="form-control" placeholder="Enter Description" required rows="4" value="{{item.shortDesc}}">
        
        <label for="qauntity" class="sr-only padding-10">Quantity</label>
        <input type="text" formControlName="quantity" id="quantity" class="form-control" placeholder="Quantity" required pattern="[0-9]*">

        <label for="price" class="sr-only padding-10">Price</label>
        <input type="text" formControlName="price" id="price" class="form-control" placeholder="Price" required pattern="[0-9]*(.[0-9]*)?">
 
        <div class="padding-10"></div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">Add Item</button>

         
      </form>

</div> 