<div class="container">


      <form class="form-signin" [formGroup]="form" (ngSubmit)="register()" id="registerForm">
        <div id="team"><h1>STARK Seller</h1></div>
        <h2 class="form-signin-heading">Register</h2>

        <label for="name" class="sr-only">Name</label>
        <input type="text"  formControlName="name" id="name" class="form-control" placeholder="Enter Name" required autofocus>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email"  formControlName="email" id="inputEmail" class="form-control" placeholder="Email address" required>

        <label for="username" class="sr-only">User Name</label>
        <input type="text"  formControlName="username" id="username" class="form-control" placeholder="Enter Username" required>
        
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" formControlName="password" id="inputPassword" class="form-control" placeholder="Enter Password" required>

        <label for="confirmPassword" class="sr-only">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>

        <label for="address" class="sr-only">Address</label>
        <input type="textarea"  formControlName="address" id="address" class="form-control" placeholder="Enter Address" required>

        <label for="mobile" class="sr-only">Mobile</label>
        <input type="text"  formControlName="mobile" id="mobile" class="form-control" placeholder="Enter Mobile" required pattern="[1-9][0-9]{9}">

       <label for="pan" class="sr-only">PAN</label>
        <input type="text"  formControlName="pan" id="pan" class="form-control" placeholder="Enter PAN" required autofocus>


        <label for="experience" class="sr-only">Experience</label>
        <input type="text" formControlName="experience" name="experience" id="experience" class="form-control padding-10" placeholder="Enter Experience">
 
        
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">Register</button>

        <p class="message">Already registered? <a href="/signin">Sign in</a></p>
      </form>

</div> 